body{
  padding: 0 170px;
  background-image: url('../2017-smurfs-the-lost-village-img.svg');

  /* background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(59,140,232,1) 64%, rgba(59,140,232,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(64%, rgba(59,140,232,1)), color-stop(100%, rgba(59,140,232,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(59,140,232,1) 64%, rgba(59,140,232,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(59,140,232,1) 64%, rgba(59,140,232,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(59,140,232,1) 64%, rgba(59,140,232,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(59,140,232,1) 64%, rgba(59,140,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3b8ce8', GradientType=1 ); */
}

.App {
  text-align: center;
  border-left: 15px solid white;
  border-right: 15px solid white;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  padding: .3125rem, 3.125rem;
  color: white;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
  color: white;
}

.smurfInfo{
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  color: white;
}

